<!DOCTYPE html>
    <html lang="en"
          xmlns:th="http://thymeleaf.org"
          xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
          layout:decorate="~{Admin-layout}"
    >
    <body>
      <div layout:fragment="body" class="main">
        <section class="main">
          <div class="main-top">
            <h1>Authors</h1>
            <i class="fas fa-user-cog"></i>
          </div>
          <div class="users">
            <div class="card">
              <img th:src="@{/images/anonymous.jpg}">
              <h4>Andy</h4>
              <p>Author</p>
              <div class="per">
                <table>
                  <tr>
                    <td><span>85%</span></td>
                    <td><span>87%</span></td>
                  </tr>
                  <tr>
                    <td>Month</td>
                    <td>Year</td>
                  </tr>
                </table>
              </div>
              <button>Profile</button>
            </div>
            <div class="card">
              <img th:src="@{/images/anonymous.jpg}">
              <h4>Aaron</h4>
              <p>Progammer</p>
              <div class="per">
                <table>
                  <tr>
                    <td><span>82%</span></td>
                    <td><span>85%</span></td>
                  </tr>
                  <tr>
                    <td>Month</td>
                    <td>Year</td>
                  </tr>
                </table>
              </div>
              <button>Profile</button>
            </div>
            <div class="card">
              <img th:src="@{/images/anonymous.jpg}">
              <h4>Kelly</h4>
              <p>Author</p>
              <div class="per">
                <table>
                  <tr>
                    <td><span>94%</span></td>
                    <td><span>92%</span></td>
                  </tr>
                  <tr>
                    <td>Month</td>
                    <td>Year</td>
                  </tr>
                </table>
              </div>
              <button>Profile</button>
            </div>
            <div class="card">
              <img th:src="@{/images/anonymous.jpg}">
              <h4>Mary</h4>
              <p>Author</p>
              <div class="per">
                <table>
                  <tr>
                    <td><span>85%</span></td>
                    <td><span>82%</span></td>
                  </tr>
                  <tr>
                    <td>Month</td>
                    <td>Year</td>
                  </tr>
                </table>
              </div>
              <button>Profile</button>
            </div>
          </div>

          <section class="attendance">
            <div class="attendance-list">
              <h1>Articles</h1>
              <div class="search-bar">
                <a class="add-button" th:href="@{/newArticle}">NEW</a>
                <div class="bar">
                  <form th:action="@{/articles/search}" class="search-form">
                    <input name="query" type="search" class="search-input" placeholder="Search article...">
                  </form>
                </div>
              </div>
              <table class="table">
                <thead>
                <tr>
                  <th>Title</th>
                  <th>Author</th>
                  <th>Category</th>
                  <th>Date</th>
                  <th>Views</th>
                  <th>Likes</th>
                  <th>Options</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="article : ${articles}">
                  <td th:text="${article.title}"></td>
                  <td th:text="${article.authorName}"></td>
                  <td th:text="${article.category}"></td>
                  <td th:text="${article.uploadedon}"></td>
                  <td th:text="${article.views}"></td>
                  <td>15</td>
                  <td><a class="view-button" th:href="@{/articles/{articleId}/edit(articleId=${article.articleId})}">View</a></td>
                </tr>
                </tbody>
              </table>
            </div>
          </section>
        </section>
      </div>
    </body>
    </html>
    </span>