<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/style/admin.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
    <title>Admin</title>
</head>
<nav>
<ul>
    <li><a th:href="@{/Admin/Article}" class="logo">
        <img th:src="@{/images/anonymous.jpg}">
        <span class="nav-item">Admin</span>
    </a></li>
    <li><a th:href="@{/Admin/Article}">
        <i class="fas fa-chart-bar"></i>
        <span class="nav-item">Articles</span>
    </a></li>
    <li><a th:href="@{/Admin/Author}">
        <i class="fas fa-chart-bar"></i>
        <span class="nav-item">Authors</span>
    </a></li>
    <li><a th:href="@{/Admin/User}">
        <i class="fas fa-chart-bar"></i>
        <span class="nav-item">Users</span>
    </a></li>
    <li><a th:href="@{/Report}">
        <i class="fas fa-database"></i>
        <span class="nav-item">Report</span>
    </a></li>
    <li><a th:href="@{/}" class="logout">
        <i class="fas fa-sign-out-alt"></i>
        <span class="nav-item">Log out</span>
    </a></li>
</ul>
</nav>
<body layout:fragment="body"></body>
</html>