<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org">>
    <head>
        <meta charset="utf-8">
        <title>Thee Collective</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="News Website Template - Free HTML Templates" name="keywords">
        <meta content="News Website Template - Free HTML Templates" name="description">

        <!-- Favicon -->
        <link th:href="@{img/favicon.ico}" rel="icon">

        <!-- Google Fonts -->
        <link th:href="@{https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap}" rel="stylesheet">

        <!-- CSS Libraries -->
        <link th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css}" rel="stylesheet">
        <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css}" rel="stylesheet">
        <link th:href="@{lib/slick/slick.css}" rel="stylesheet">
        <link th:href="@{lib/slick/slick-theme.css}" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link th:href="@{style/style.css}" rel="stylesheet">
    </head>

    <body>

        <!-- Nav Bar Start -->
        <div class="nav-bar">
            <div class="container">
                <nav class="navbar navbar-expand-md bg-dark navbar-dark">
                    <a th:href="@{/}" class="navbar-brand">MENU</a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav mr-auto">
                            <a th:href="@{/}" class="nav-item nav-link active">Home</a>
                            <div class="nav-item dropdown">
                                <a th:href="@{/}" class="nav-link dropdown-toggle" data-toggle="dropdown">Dropdown</a>
                                <div class="dropdown-menu">
                                    <a th:if="${username} == null" th:href="@{/Login}" class="dropdown-item">login</a>
                                    <a th:if="${username} == null" th:href="@{/Register}" class="dropdown-item">Register</a>
                                    <a th:if="${username} != null" th:href="@{/logout}" class="dropdown-item">logout</a>
                                    <a th:href="@{/Admin/Article}" class="dropdown-item">Admin</a>
                                </div>
                            </div>
                            <a th:href="@{contact.html}" class="nav-item nav-link">Contact Us</a>
                        </div>
                        <div class="social ml-auto">
                            <a th:href="@{https://twitter.com/}"><i class="fab fa-twitter"></i></a>
                            <a th:href="@{https://facebook.com/}"><i class="fab fa-facebook-f"></i></a>
                            <a th:href="@{https://freewebsitecode.com/}"><i class="fab fa-linkedin-in"></i></a>
                            <a th:href="@{https://freewebsitecode.com/}"><i class="fab fa-instagram"></i></a>
                            <a th:href="@{https://www.youtube.com/}"><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <!-- Nav Bar End -->

        <!-- Top News Start-->
        <div class="top-news">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 tn-left">
                        <div class="row tn-slider">
                            <div class="col-md-6" th:each="article : ${carouselArticles}">
                                <div class="tn-img" >
                                    <img th:src="${article.coverUrl}" style=""/>
                                    <div class="tn-title">
                                        <a th:href="@{/Article/{ArticleID}/view(ArticleID=${article.articleId})}" th:text="${article.title}">Lorem ipsum dolor sit amet</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 tn-right">
                        <div class="row">
                            <div class="col-md-6" th:each="article : ${carouselArticles}">
                                <div class="tn-img" th:if="${article.articleId} < 5">
                                    <img th:src="${article.coverUrl}" />
                                    <div class="tn-title">
                                        <a th:href="@{/Article/{ArticleID}/view(ArticleID=${article.articleId})}" th:text="${article.title}">Lorem ipsum dolor sit amet</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Top News End-->

        <!-- Category News Start-->
        <div class="cat-news">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h2>Sports</h2>
                        <div class="row cn-slider">
                            <div class="col-md-6" th:each="article : ${carouselArticles}"  th:if="${article.category} == sport">
                                <div class="cn-img">
                                    <img th:src="${article.coverUrl}" />
                                    <div class="cn-title">
                                        <a th:href="@{/Article/{ArticleID}/view(ArticleID=${article.articleId})}" th:text="${article.title}">Lorem ipsum dolor sit amet</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h2>Politics</h2>
                        <div class="row cn-slider">
                            <div class="col-md-6" th:each="article : ${carouselArticles}"  th:if="${article.category} == politics">
                                <div class="cn-img">
                                    <img th:src="${article.coverUrl}" />
                                    <div class="cn-title">
                                        <a th:href="@{/Article/{ArticleID}/view(ArticleID=${article.articleId})}" th:text="${article.title}">Lorem ipsum dolor sit amet</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Category News End-->

        <!-- Category News Start-->
        <div class="cat-news">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h2>Fashion</h2>
                        <div class="row cn-slider">
                            <div class="col-md-6" th:each="article : ${carouselArticles}"  th:if="${article.category} == fashion">
                                <div class="cn-img">
                                    <img th:src="${article.coverUrl}" />
                                    <div class="cn-title">
                                        <a th:href="@{/Article/{ArticleID}/view(ArticleID=${article.articleId})}" th:text="${article.title}">Lorem ipsum dolor sit amet</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h2>Entertainment</h2>
                        <div class="row cn-slider">
                            <div class="col-md-6" th:each="article : ${carouselArticles}"  th:if="${article.category} == entertainment">
                                <div class="cn-img">
                                    <img th:src="${article.coverUrl}" />
                                    <div class="cn-title">
                                        <a th:href="@{/Article/{ArticleID}/view(ArticleID=${article.articleId})}" th:text="${article.title}">Lorem ipsum dolor sit amet</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Category News End-->

        <!-- Footer Bottom Start -->
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 copyright">
                        <p>Copyright &copy; <a th:href="@{/}">Your Site Name</a>. All Rights Reserved</p>
                    </div>

                    <div class="col-md-6 template-by">
                        <p>Designed By Marion Uwase</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Bottom End -->

        <!-- Back to Top -->
        <a th:href="@{/}" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

        <!-- JavaScript Libraries -->
        <script th:src="@{https://code.jquery.com/jquery-3.4.1.min.js}"></script>
        <script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js}"></script>
        <script th:src="@{lib/easing/easing.min.js}"></script>
        <script th:src="@{lib/slick/slick.min.js}"></script>

        <!-- Template Javascript -->
        <script th:src="@{js/main.js}"></script>
    </body>
</html>
