<!DOCTYPE html>
<html lang="en"
    xmlns:th="http://thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/style/trial.css}" rel="stylesheet">
    <title>The collective</title>
</head>
<nav class="navbar">
    <img th:src="@{/images/Thee%20collective%20(3).png}" alt="Image 1" id="logo">
    <ul class="left">
        <ul class="left">
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/Admin/Article}">Admin</a></li>

            <!-- Use th:block to handle conditional rendering -->
            <th:block th:if="${username} == null">
                <li><a th:href="@{/Login}">Login</a></li>
            </th:block>

            <th:block th:unless="${username} == null">
                <li><a th:href="@{/logout}">Logout</a></li>
            </th:block>
        </ul>
    </ul>
    <div class="right">
        <form class="search-form" action="#" method="get">
            <input type="text" placeholder="Search..." name="title">
        </form>
    </div>
</nav>
<body layout:fragment="body"></body>
</html>